body { margin:0; padding:0; }

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes funny{
  0% {transform: rotate3d(0);}
  100% {transform: rotate3d(0, 2, 0, 360deg);}
}

.Header {
  height: 175px;
  background-color: rgb(50,75,200);
  margin-bottom: 0px;
}

.imagef {
  -moz-animation: funny 50s infinite;
  -webkit-animation: funny 50s infinite;
  -o-animation: funny 50s infinite;
  animation: funny 50s infinite;

  width: 600px;
}

.BottomHeader {
  height: 25px;
  background-color: rgb(40, 63, 177);
  margin-bottom: 0px;
  box-shadow: 0px 0px 5px rgb(40, 63, 177);
}

.Main {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}

.Continue {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(247, 205, 36);
  border: 2.5px solid rgb(25,25,25);
}

.Banner {
  border-radius: 1%;
}

.Social {
  color: rgb(255,255,255);
}

.Social:active {
  color: rgb(200,200,200);
}
