body { margin:0; padding:0; }

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.Header {
  height: 75px;
  background-color: rgb(50,75,200);
  margin-bottom: 10px;
}

.Main {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}

.Continue {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(247, 205, 36);
  border: 2.5px solid rgb(25,25,25);
}

.Banner {
  border-radius: 1%;
}

.Social {
  color: rgb(255,255,255);
}

.Social:active {
  color: rgb(200,200,200);
}
