h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.Main {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}

.Social {
  color: rgb(255,255,255);
}

.Social:active {
  color: rgb(200,200,200);
}
